:root {
    --primary: #272727;
    --gray100: #a7a7a7;
    --gray200: #9c9c9c;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    /*width: 100%;*/
    /*height: 100vh;*/
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: linear-gradient(white, var(--gray100), var(--gray200));
}

.navbar {
    background-color: var(--primary);
    width: 100%;
    color: white;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar h1 {
    font-family: "Winky Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    font-size: 2.5em;
}

.navbar input {
    padding: 5px;
}



.menu {
    position: relative;
}

.menu a {
    color: white;
    text-decoration: none;
}

.menu a:hover {
    transform: scale(1.1);
}

.lista-header {
    display: flex;
    list-style: none;
    gap: 15px;
}

.lista-header .li a {
    color: white;
    text-decoration: none;
}

.lista-header .li a:hover {
    transform: scale(1.1);
}

.hamburguer {
    display: none;
}





.banner {
    width: 94%;
    height: 400px;
    overflow: hidden;
    position: relative;
    margin: 40px auto;
}

.banner img {
    width: 100%;
    height: auto;
    position: absolute;
    top: 20%;
    transform: translateY(-50%);
}

.texto {
    font-size: 40px;
    height: auto;
    position: absolute;
    /* Posiciona o texto em relação ao container */
    top: 50%;
    /* Posiciona o texto no meio verticalmente */
    left: 50%;
    /* Posiciona o texto no meio horizontalmente */
    transform: translate(-50%, -50%);
    /* Ajusta o texto para que seu centro fique exatamente no centro da imagem */
    color: white;
    /* Cor do texto para que fique visível sobre a imagem */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    /* Sombra no texto para melhorar a visibilidade */
    text-align: center;
    /* Alinha o texto ao centro */
}

.vitrine {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-bottom: 100px;
    gap: 30px;
}

.card {
    width: 150px;
    height: 250px;
    border: 1px solid var(--gray200);
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    background: white;
    box-shadow: 5px 5px 10px var(--gray200);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.card p {
    font-family: "Winky Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 4px 4px 15px var(--primary);
}

footer {
    width: 100%;
    background-color: var(--primary);
    color: white;
    text-align: center;
    padding: 20px 0;
    margin-top: 0;
}

@media screen and (max-width: 703px) {

    .logo {
        font-size: 10px;
    }

    .lista-header {
        /*display: none;*/
        flex-direction: column;
        background-color: #9c9c9c;
        padding: 10px;
        position: absolute;
        top: -40px;
        left: -85px;
    }

    /*.hamburguer {
        display: block;
        cursor: pointer;
    }*/
}


.checkout {
    width: 130px;
}

td {
    text-align: center;
    vertical-align: middle;
}

img.checkout,
input.checkout {
    display: block;
    margin: 0 auto;
}

input.checkout {
    width: 70px;             /* ou qualquer valor que achar legal (ex: 60px, 100px) */
    margin: 0 auto;          /* centraliza o input */
    display: block;          /* precisa disso pra o margin funcionar */
    text-align: center;      /* centraliza o número dentro do input */
}